/* custom css goes here */

/*
Filename : app.css
@author Aayushi Shah
@date Sep 30,2016
StudentID : 300874124
website : http://comp229-f2016-300874124-assignment1.azurewebsites.net/
@description : This page is the default page for this web site
*/


    /*About me page*/

 #Logo{float:left;margin-left: 50px;margin-right: 50px}
 #Mypic{float:left;margin-left: 50px;margin-right: 50px}
 .Service{
    height: 176px;
}
 #navbar-header{background-color:saddlebrown;}
 body {
    padding-bottom: 70px; 
    background-color:#ffd6cc;
}